html{
    color:#494032;
}

a:link, a:hover, a:visited, a:active{
    color: #231E17;
    text-decoration: underline;
}

body{
    font-family:'Samsung One'; 
}

h1{
    font-size: 1.2em;
}

#splash{
    padding:1em .1em 1em .1em;
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}

#splashContent{
    max-width: 13.5em;
    margin: auto;
}

.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.logo{
    max-width: 6em;
}

.btn{
    border: 2 solid #494032;
    padding: .2em;
    border-radius: 1em;
    cursor: pointer;
    width: 6em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.footer{
    font-size: 0.8em;
}

/* INFO PAGE */

.infobody{
    background-image: url('../imgs/infobg.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: top center;
}

.infoImage{
    width: 3em;
    margin: auto;
    display: block;
}

#infoContent{
    max-width: 30em;
    margin: auto;
}

/*big sized screen*/
@media (min-width: 800px) {
    
    h1{
        font-size: 2em;
    }

    #splashContent{
        max-width: 30em;
        margin: auto;
    }

    .btn{
        border: 2 solid #494032;
        padding: .5em;
        border-radius: 1em;
        cursor: pointer;
        width: 10em;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .logo{
        max-width: 10em;
    }

    }